# 1. 파이썬 시작하기.

In [2]:
print('"C:\Windows"')

"C:\Windows"

In [3]:
print("안녕하세요.\n만나서\t\t반갑습니다.")
# \n : 줄 바꿈.
# \t : tab만큼 띄우기.

안녕하세요.
만나서		반갑습니다.

In [4]:
print("naver", "kakao", "samsung", sep=";")
# sep : 공백 대신 원하는 문자 출력 가능하다.

naver;kakao;samsung

In [6]:
print("naver", "kakao", "sk", "samsung", sep="/")

naver/kakao/sk/samsung

In [9]:
print("first", end=" ");print("second")
# end : 마지막 줄 바꿈 없애주는 역할을 한다.

first second

# 2. 파이썬 변수

딱히 할 것이 없어서 넘어가도록 하겠다.

# 3. 파이썬 문자열

In [10]:
letters = 'python'

In [12]:
print(letters[0], letters[2])

p t

In [13]:
license_plate = "24가 2210"

In [14]:
license_plate[-4:]

'2210'

In [15]:
string = "홀짝홀짝홀짝"

In [16]:
string[::2]

'홀홀홀'

In [17]:
string = "PYTHON"

In [18]:
string[::-1]

'NOHTYP'

In [19]:
phone_number = "010-1111-2222"

In [20]:
phone_number.replace("-", " ")
# replace : 기존의 문자 대신에 다른 문자를 출력한다.

'010 1111 2222'

In [22]:
phone_number.replace("-", "")

'01011112222'

In [24]:
url = "http://sharebook.kr"

In [26]:
url[-2:] # 이렇게 해도 되지만, split 이용해도 된다.

'kr'

In [29]:
url.split(".") 
# split : 문자 기준으로 나눠주기.

['http://sharebook', 'kr']

In [30]:
url.split(".")[-1]

'kr'

In [31]:
lang = 'python' # 문자열
lang[0] = 'P'
print(lang) # 문자열은 수정할 수 없습니다. 할당 메서드 지원되지 않습니다.

TypeError: 'str' object does not support item assignment

In [33]:
lang.replace("p", "P") # 할당 대신에 replace 이용하기.

'Python'

In [34]:
string = 'abcdfe2a354a32a'

In [35]:
string.replace("a", "A")

'Abcdfe2A354A32A'

In [36]:
string = 'abcd'

In [37]:
string.replace("b", "B")

'aBcd'

In [38]:
t1 = 'python'
t2 = 'java'

In [43]:
t3= t1+" "+t2+" "
t3

'python java '

In [44]:
print(t3*4)

python java python java python java python java

In [45]:
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13

In [47]:
# % formatting
print("이름 : %s 나이 : %d"%(name1, age1))
print("이름 : %s 나이 : %d"%(name2, age2))

이름 : 김민수 나이 : 10
이름 : 이철희 나이 : 13

In [48]:
print("이름 : {} 나이 : {}".format(name1, age1))
print("이름 : {} 나이 : {}".format(name2, age2))

이름 : 김민수 나이 : 10
이름 : 이철희 나이 : 13

In [49]:
print(f"이름 : {name1} 나이 : {age1}")
print(f"이름 : {name2} 나이 : {age2}")

이름 : 김민수 나이 : 10
이름 : 이철희 나이 : 13

In [50]:
상장주식수 = "5,969,782,550"

In [52]:
int(상장주식수.replace(",", ""))

5969782550

In [53]:
분기 = "2020/03(E) (IFRS연결)"

In [58]:
분기.split(" ")[0][:7]

'2020/03'

In [57]:
분기[:7]

'2020/03'

In [59]:
data = "   삼성전자    "

In [60]:
data.strip()

'삼성전자'

In [61]:
ticker = "btc_krw"

In [62]:
ticker.upper()

'BTC_KRW'

In [63]:
ticker = "BTC_KRW"

In [64]:
ticker.lower()

'btc_krw'

In [65]:
a = "hello"

In [66]:
a.capitalize()
# capitalize : 대문자로 변경.

'Hello'

In [67]:
file_name = "보고서.xlsx"

In [71]:
file_name.endswith("xlsx")
# endwith : 끝에 그 문자로 끝나는지 확인.

True

In [76]:
file_name = "보고서.xlsx"

In [78]:
file_name.endswith(("xlsx", "xls"))
# 두 가지 이상 확인하기 위해서는 콤마로 연결시켜주기. [중요] 그 대신에 괄호 2개 쳐주기.

True

In [80]:
file_name.startswith("2020")
# startswith : 처음에 그 문자로 시작하는지 확인.

False

In [81]:
a = "hello world"

In [88]:
a.split()
# 공백은 그냥 해도 된다.

['hello', 'world']

In [89]:
ticker = "btc_krw"

In [90]:
ticker.split("_")

['btc', 'krw']

In [91]:
date = "2020-05-01"

In [92]:
date.split("-")

['2020', '05', '01']

In [93]:
data = "039490     "

In [94]:
data.rstrip()

'039490'

# 4. 파이썬 리스트

In [95]:
movie_rank = ["닥터 스트레인지", "스플릿", "럭키"]

In [96]:
movie_rank.append("배트맨")

In [97]:
movie_rank

['닥터 스트레인지', '스플릿', '럭키', '배트맨']

In [98]:
movie_rank[1]="슈퍼맨"

In [100]:
movie_rank
# 이렇게 해버리면 인덱스 1자리에 있던 스플릿이 사라져버린다.

['닥터 스트레인지', '슈퍼맨', '럭키', '배트맨']

In [101]:
movie_rank = ['닥터 스트레인지', '스플릿', '럭키', '배트맨']

In [102]:
movie_rank.insert(1, "슈퍼맨")
# insert : 원하는 위치에 원하는 값을 넣어줄 수 있다.
# insert(인덱스, 원소)

In [103]:
movie_rank

['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']

In [104]:
movie_rank = ['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']

In [105]:
del movie_rank[3]
# del : 원하는 위치에 있는 데이터를 삭제하기.

In [106]:
movie_rank

['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']

In [107]:
movie_rank = ['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']

In [108]:
del movie_rank[-1]

In [109]:
movie_rank

['닥터 스트레인지', '슈퍼맨', '스플릿']

In [110]:
del movie_rank[-1]

In [111]:
movie_rank

['닥터 스트레인지', '슈퍼맨']

In [118]:
lang1 = ["C", "C++", "JAVA"]
lang2 = ["Python", "Go", "C#"]

In [119]:
lang=lang1+lang2
# 더해주면 리스트 연결된다.

In [120]:
lang

['C', 'C++', 'JAVA', 'Python', 'Go', 'C#']

In [121]:
nums = [1, 2, 3, 4, 5, 6, 7]

In [128]:
print("max : {}".format(max(nums)))
print("min : {}".format(min(nums)))

max : 7
min : 1

In [129]:
nums = [1, 2, 3, 4, 5]

In [130]:
sum(nums)

15

In [131]:
cook = ["피자", "김밥", "만두", "양념치킨", "족발", "피자", "김치만두", "쫄면", "소시지", "라면", "팥빙수", "김치전"]

In [132]:
len(cook)

12

In [133]:
nums = [1, 2, 3, 4, 5]

In [137]:
# 평균 : 전체 합 / 전체 길이
sum(nums) / len(nums)

3.0

In [138]:
price = ['20180728', 100, 130, 140, 150, 160, 170]

In [139]:
price[1:]

[100, 130, 140, 150, 160, 170]

In [140]:
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [141]:
nums[::2]

[1, 3, 5, 7, 9]

In [142]:
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [143]:
nums[1::2]

[2, 4, 6, 8, 10]

In [144]:
nums = [1, 2, 3, 4, 5]

In [145]:
nums[::-1]

[5, 4, 3, 2, 1]

In [146]:
interest = ['삼성전자', 'LG전자', 'Naver']

In [149]:
print(interest[0], interest[2])

삼성전자 Naver

In [153]:
# join : list to string (리스트를 문자열로 만들어주는 메소드, split와 반대 기능)
_list=['a','b','c','d','1','2','3']
_list

['a', 'b', 'c', 'd', '1', '2', '3']

In [154]:
"".join(_list)

'abcd123'

In [155]:
"/".join(_list)

'a/b/c/d/1/2/3'

In [156]:
" ".join(_list)

'a b c d 1 2 3'

In [157]:
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']

In [158]:
" ".join(interest)

'삼성전자 LG전자 Naver SK하이닉스 미래에셋대우'

In [159]:
"/".join(interest)

'삼성전자/LG전자/Naver/SK하이닉스/미래에셋대우'

In [161]:
print("\n".join(interest))
# \n : 줄 바꿈을 실행시킨다.

삼성전자
LG전자
Naver
SK하이닉스
미래에셋대우

In [162]:
string = "삼성전자/LG전자/Naver"

In [163]:
# split : string to list (join과 반대 기능)
string.split("/")

['삼성전자', 'LG전자', 'Naver']

In [170]:
data = [2, 4, 3, 1, 5, 10, 9]

.sort() vs sorted() : 변수를 아예 변경? 아니면 아님?

In [167]:
data.sort() # 변수를 아예 변경시켜준다.
print(data)

[1, 2, 3, 4, 5, 9, 10]

In [171]:
sorted(data) # 변수를 변경시키지 않는다.

[1, 2, 3, 4, 5, 9, 10]

In [172]:
print(data)

[2, 4, 3, 1, 5, 10, 9]

# 5. 파이썬 튜플

In [175]:
my_variable = () # vacant tuple
type(my_variable)

tuple

In [176]:
my_tuple=(1)

In [178]:
type(my_tuple)

int

In [179]:
my_tuple=(1,)

In [181]:
type(my_tuple) # 1개를 튜플로 사용하는 경우 반드시 ,를 붙여줘야 한다.

tuple

In [184]:
t = (1, 2, 3)
t[0] = 'a' # tuple은 변경 불가능하기 때문이다.

TypeError: 'tuple' object does not support item assignment

In [185]:
t = 1, 2, 3, 4

In [187]:
type(t) # 괄호 없어도 튜플로 인식한다.

tuple

In [188]:
t = ('a', 'b', 'c')

In [190]:
t.replace("a", "A")

AttributeError: 'tuple' object has no attribute 'replace'

In [191]:
t=("A", "b", "c")
# 변경 불가능하기 때문에, 그냥 다시 만드는 것이 나음.

In [192]:
interest = ('삼성전자', 'LG전자', 'SK Hynix')

In [193]:
list(interest)

['삼성전자', 'LG전자', 'SK Hynix']

In [194]:
interest = ['삼성전자', 'LG전자', 'SK Hynix']

In [195]:
tuple(interest)

('삼성전자', 'LG전자', 'SK Hynix')

In [197]:
temp = ('apple', 'banana', 'cake')
a, b, c = temp # tuple unpacking
print(a, b, c) # tuple unpacking : 각각을 변수에 할당 가능하다.

apple banana cake

In [200]:
even=tuple(range(2, 99, 2))
print(even)

(2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98)

# 6. 파이썬 딕셔너리

In [201]:
a, b, *c = (0, 1, 2, 3, 4, 5) # 별 표현식

In [202]:
a

0

In [203]:
b

1

In [204]:
c

[2, 3, 4, 5]

In [205]:
scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]

In [206]:
*valid_score, _, _= scores # 변수 명을 _ 라고 지정해준 것이다.
print(valid_score)

[8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5]

In [207]:
scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]

In [208]:
_,_,*valid_score=scores # 변수 명을 _ 라고 지정해준 것이다.
print(valid_score)

[8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]

In [209]:
scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]

In [211]:
_,*valid_scores,_=scores # 변수 명을 _ 라고 지정해준 것이다.
print(valid_scores)

[8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8]

In [212]:
temp={}

In [225]:
ice = {"메로나": 1000, "폴라포": 1200, "빵빠레": 1800}
print(ice)

{'메로나': 1000, '폴라포': 1200, '빵빠레': 1800}

In [226]:
# dictionary에서 추가하는 경우에는 key, value를 이용하기.
ice["죠스바"]=1200
ice["월드콘"]=1500

In [227]:
ice

{'메로나': 1000, '폴라포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [228]:
print("메로나 가격: %d"%(ice["메로나"]))

메로나 가격: 1000

In [229]:
ice["메로나"]=1300

In [230]:
ice

{'메로나': 1300, '폴라포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [231]:
del ice["메로나"]

In [232]:
ice

{'폴라포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [234]:
icecream = {'폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
icecream['누가바'] # dictionary에 없는 key를 불러왔기 때문이다.

KeyError: '누가바'

In [235]:
inventory = {"메로나": [300, 20],
              "비비빅": [400, 3],
              "죠스바": [250, 100]}

In [236]:
inventory

{'메로나': [300, 20], '비비빅': [400, 3], '죠스바': [250, 100]}

In [240]:
print(inventory["메로나"][0],"원")

300 원

In [242]:
print(inventory["메로나"][1], "개")

20 개

In [243]:
inventory

{'메로나': [300, 20], '비비빅': [400, 3], '죠스바': [250, 100]}

In [244]:
inventory["월드콘"]=[500, 7]

In [245]:
inventory

{'메로나': [300, 20], '비비빅': [400, 3], '죠스바': [250, 100], '월드콘': [500, 7]}

In [246]:
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}

In [248]:
list(icecream.keys())

['탱크보이', '폴라포', '빵빠레', '월드콘', '메로나']

In [249]:
list(icecream.values())

[1200, 1200, 1800, 1500, 1000]

In [250]:
sum(icecream.values())

6700

In [251]:
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
new_product = {'팥빙수':2700, '아맛나':1000}

In [255]:
icecream.update(new_product)
# update : dictionary + dictionary

In [256]:
icecream

{'탱크보이': 1200,
 '폴라포': 1200,
 '빵빠레': 1800,
 '월드콘': 1500,
 '메로나': 1000,
 '팥빙수': 2700,
 '아맛나': 1000}

In [257]:
keys = ("apple", "pear", "peach")
vals = (300, 250, 400)

In [258]:
dict(zip(keys, vals))

{'apple': 300, 'pear': 250, 'peach': 400}

In [259]:
# zip : 두 그룹의 데이터를 서로 엮어주는 파이썬 내장 함수이다.
for pair in zip(keys, vals):
    print(pair)

('apple', 300)
('pear', 250)
('peach', 400)

In [260]:
date = ['09/05', '09/06', '09/07', '09/08', '09/09']
close_price = [10500, 10300, 10100, 10800, 11000]

In [263]:
print(zip(data, close_price))

<zip object at 0x00000210BDF9EB80>

In [261]:
dict(zip(data, close_price))

{2: 10500, 4: 10300, 3: 10100, 1: 10800, 5: 11000}

In [265]:
# zip 대신에 index 이용해서 구해낼 수도 있긴 하다.
for idx in range(5):
    pair=(data[idx], close_price[idx])
    print(pair)

(2, 10500)
(4, 10300)
(3, 10100)
(1, 10800)
(5, 11000)

In [269]:
for number in "12345":
    print(number) # 한 글자씩 가져온다.

1
2
3
4
5

In [268]:
# [cf] unpacking
for number, upper, lower in zip("12345", "ABCDE", "abcde"):
    print(number, upper, lower)

1 A a
2 B b
3 C c
4 D d
5 E e