# 1. 파이썬 시작하기.

In [2]:
print('"C:\Windows"')

"C:\Windows"

In [3]:
print("안녕하세요.\n만나서\t\t반갑습니다.")
# \n : 줄 바꿈.
# \t : tab만큼 띄우기.

안녕하세요.
만나서		반갑습니다.

In [4]:
print("naver", "kakao", "samsung", sep=";")
# sep : 공백 대신 원하는 문자 출력 가능하다.

naver;kakao;samsung

In [6]:
print("naver", "kakao", "sk", "samsung", sep="/")

naver/kakao/sk/samsung

In [9]:
print("first", end=" ");print("second")
# end : 마지막 줄 바꿈 없애주는 역할을 한다.

first second

# 2. 파이썬 변수

딱히 할 것이 없어서 넘어가도록 하겠다.

# 3. 파이썬 문자열

In [10]:
letters = 'python'

In [12]:
print(letters[0], letters[2])

p t

In [13]:
license_plate = "24가 2210"

In [14]:
license_plate[-4:]

'2210'

In [15]:
string = "홀짝홀짝홀짝"

In [16]:
string[::2]

'홀홀홀'

In [17]:
string = "PYTHON"

In [18]:
string[::-1]

'NOHTYP'

In [19]:
phone_number = "010-1111-2222"

In [20]:
phone_number.replace("-", " ")
# replace : 기존의 문자 대신에 다른 문자를 출력한다.

'010 1111 2222'

In [22]:
phone_number.replace("-", "")

'01011112222'

In [24]:
url = "http://sharebook.kr"

In [26]:
url[-2:] # 이렇게 해도 되지만, split 이용해도 된다.

'kr'

In [29]:
url.split(".") 
# split : 문자 기준으로 나눠주기.

['http://sharebook', 'kr']

In [30]:
url.split(".")[-1]

'kr'

In [31]:
lang = 'python' # 문자열
lang[0] = 'P'
print(lang) # 문자열은 수정할 수 없습니다. 할당 메서드 지원되지 않습니다.

TypeError: 'str' object does not support item assignment

In [33]:
lang.replace("p", "P") # 할당 대신에 replace 이용하기.

'Python'

In [34]:
string = 'abcdfe2a354a32a'

In [35]:
string.replace("a", "A")

'Abcdfe2A354A32A'

In [36]:
string = 'abcd'

In [37]:
string.replace("b", "B")

'aBcd'

In [38]:
t1 = 'python'
t2 = 'java'

In [43]:
t3= t1+" "+t2+" "
t3

'python java '

In [44]:
print(t3*4)

python java python java python java python java

In [45]:
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13

In [47]:
# % formatting
print("이름 : %s 나이 : %d"%(name1, age1))
print("이름 : %s 나이 : %d"%(name2, age2))

이름 : 김민수 나이 : 10
이름 : 이철희 나이 : 13

In [48]:
print("이름 : {} 나이 : {}".format(name1, age1))
print("이름 : {} 나이 : {}".format(name2, age2))

이름 : 김민수 나이 : 10
이름 : 이철희 나이 : 13

In [49]:
print(f"이름 : {name1} 나이 : {age1}")
print(f"이름 : {name2} 나이 : {age2}")

이름 : 김민수 나이 : 10
이름 : 이철희 나이 : 13

In [50]:
상장주식수 = "5,969,782,550"

In [52]:
int(상장주식수.replace(",", ""))

5969782550

In [53]:
분기 = "2020/03(E) (IFRS연결)"

In [58]:
분기.split(" ")[0][:7]

'2020/03'

In [57]:
분기[:7]

'2020/03'

In [59]:
data = "   삼성전자    "

In [60]:
data.strip()

'삼성전자'

In [61]:
ticker = "btc_krw"

In [62]:
ticker.upper()

'BTC_KRW'

In [63]:
ticker = "BTC_KRW"

In [64]:
ticker.lower()

'btc_krw'

In [65]:
a = "hello"

In [66]:
a.capitalize()
# capitalize : 대문자로 변경.

'Hello'

In [67]:
file_name = "보고서.xlsx"

In [71]:
file_name.endswith("xlsx")
# endwith : 끝에 그 문자로 끝나는지 확인.

True

In [76]:
file_name = "보고서.xlsx"

In [78]:
file_name.endswith(("xlsx", "xls"))
# 두 가지 이상 확인하기 위해서는 콤마로 연결시켜주기. [중요] 그 대신에 괄호 2개 쳐주기.

True

In [80]:
file_name.startswith("2020")
# startswith : 처음에 그 문자로 시작하는지 확인.

False

In [81]:
a = "hello world"

In [88]:
a.split()
# 공백은 그냥 해도 된다.

['hello', 'world']

In [89]:
ticker = "btc_krw"

In [90]:
ticker.split("_")

['btc', 'krw']

In [91]:
date = "2020-05-01"

In [92]:
date.split("-")

['2020', '05', '01']

In [93]:
data = "039490     "

In [94]:
data.rstrip()

'039490'

# 4. 파이썬 리스트

In [95]:
movie_rank = ["닥터 스트레인지", "스플릿", "럭키"]

In [96]:
movie_rank.append("배트맨")

In [97]:
movie_rank

['닥터 스트레인지', '스플릿', '럭키', '배트맨']

In [98]:
movie_rank[1]="슈퍼맨"

In [100]:
movie_rank
# 이렇게 해버리면 인덱스 1자리에 있던 스플릿이 사라져버린다.

['닥터 스트레인지', '슈퍼맨', '럭키', '배트맨']

In [101]:
movie_rank = ['닥터 스트레인지', '스플릿', '럭키', '배트맨']

In [102]:
movie_rank.insert(1, "슈퍼맨")
# insert : 원하는 위치에 원하는 값을 넣어줄 수 있다.
# insert(인덱스, 원소)

In [103]:
movie_rank

['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']

In [104]:
movie_rank = ['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']

In [105]:
del movie_rank[3]
# del : 원하는 위치에 있는 데이터를 삭제하기.

In [106]:
movie_rank

['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']

In [107]:
movie_rank = ['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']

In [108]:
del movie_rank[-1]

In [109]:
movie_rank

['닥터 스트레인지', '슈퍼맨', '스플릿']

In [110]:
del movie_rank[-1]

In [111]:
movie_rank

['닥터 스트레인지', '슈퍼맨']

In [118]:
lang1 = ["C", "C++", "JAVA"]
lang2 = ["Python", "Go", "C#"]

In [119]:
lang=lang1+lang2
# 더해주면 리스트 연결된다.

In [120]:
lang

['C', 'C++', 'JAVA', 'Python', 'Go', 'C#']

In [121]:
nums = [1, 2, 3, 4, 5, 6, 7]

In [128]:
print("max : {}".format(max(nums)))
print("min : {}".format(min(nums)))

max : 7
min : 1

In [129]:
nums = [1, 2, 3, 4, 5]

In [130]:
sum(nums)

15

In [131]:
cook = ["피자", "김밥", "만두", "양념치킨", "족발", "피자", "김치만두", "쫄면", "소시지", "라면", "팥빙수", "김치전"]

In [132]:
len(cook)

12

In [133]:
nums = [1, 2, 3, 4, 5]

In [137]:
# 평균 : 전체 합 / 전체 길이
sum(nums) / len(nums)

3.0

In [138]:
price = ['20180728', 100, 130, 140, 150, 160, 170]

In [139]:
price[1:]

[100, 130, 140, 150, 160, 170]

In [140]:
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [141]:
nums[::2]

[1, 3, 5, 7, 9]

In [142]:
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [143]:
nums[1::2]

[2, 4, 6, 8, 10]

In [144]:
nums = [1, 2, 3, 4, 5]

In [145]:
nums[::-1]

[5, 4, 3, 2, 1]

In [146]:
interest = ['삼성전자', 'LG전자', 'Naver']

In [149]:
print(interest[0], interest[2])

삼성전자 Naver

In [153]:
# join : list to string (리스트를 문자열로 만들어주는 메소드, split와 반대 기능)
_list=['a','b','c','d','1','2','3']
_list

['a', 'b', 'c', 'd', '1', '2', '3']

In [154]:
"".join(_list)

'abcd123'

In [155]:
"/".join(_list)

'a/b/c/d/1/2/3'

In [156]:
" ".join(_list)

'a b c d 1 2 3'

In [157]:
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']

In [158]:
" ".join(interest)

'삼성전자 LG전자 Naver SK하이닉스 미래에셋대우'

In [159]:
"/".join(interest)

'삼성전자/LG전자/Naver/SK하이닉스/미래에셋대우'

In [161]:
print("\n".join(interest))
# \n : 줄 바꿈을 실행시킨다.

삼성전자
LG전자
Naver
SK하이닉스
미래에셋대우

In [162]:
string = "삼성전자/LG전자/Naver"

In [163]:
# split : string to list (join과 반대 기능)
string.split("/")

['삼성전자', 'LG전자', 'Naver']

In [170]:
data = [2, 4, 3, 1, 5, 10, 9]

.sort() vs sorted() : 변수를 아예 변경? 아니면 아님?

In [167]:
data.sort() # 변수를 아예 변경시켜준다.
print(data)

[1, 2, 3, 4, 5, 9, 10]

In [171]:
sorted(data) # 변수를 변경시키지 않는다.

[1, 2, 3, 4, 5, 9, 10]

In [172]:
print(data)

[2, 4, 3, 1, 5, 10, 9]

# 5. 파이썬 튜플

In [175]:
my_variable = () # vacant tuple
type(my_variable)

tuple

In [176]:
my_tuple=(1)

In [178]:
type(my_tuple)

int

In [179]:
my_tuple=(1,)

In [181]:
type(my_tuple) # 1개를 튜플로 사용하는 경우 반드시 ,를 붙여줘야 한다.

tuple

In [184]:
t = (1, 2, 3)
t[0] = 'a' # tuple은 변경 불가능하기 때문이다.

TypeError: 'tuple' object does not support item assignment

In [185]:
t = 1, 2, 3, 4

In [187]:
type(t) # 괄호 없어도 튜플로 인식한다.

tuple

In [188]:
t = ('a', 'b', 'c')

In [190]:
t.replace("a", "A")

AttributeError: 'tuple' object has no attribute 'replace'

In [191]:
t=("A", "b", "c")
# 변경 불가능하기 때문에, 그냥 다시 만드는 것이 나음.

In [192]:
interest = ('삼성전자', 'LG전자', 'SK Hynix')

In [193]:
list(interest)

['삼성전자', 'LG전자', 'SK Hynix']

In [194]:
interest = ['삼성전자', 'LG전자', 'SK Hynix']

In [195]:
tuple(interest)

('삼성전자', 'LG전자', 'SK Hynix')

In [197]:
temp = ('apple', 'banana', 'cake')
a, b, c = temp # tuple unpacking
print(a, b, c) # tuple unpacking : 각각을 변수에 할당 가능하다.

apple banana cake

In [200]:
even=tuple(range(2, 99, 2))
print(even)

(2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98)

# 6. 파이썬 딕셔너리

In [201]:
a, b, *c = (0, 1, 2, 3, 4, 5) # 별 표현식

In [202]:
a

0

In [203]:
b

1

In [204]:
c

[2, 3, 4, 5]

In [205]:
scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]

In [206]:
*valid_score, _, _= scores # 변수 명을 _ 라고 지정해준 것이다.
print(valid_score)

[8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5]

In [207]:
scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]

In [208]:
_,_,*valid_score=scores # 변수 명을 _ 라고 지정해준 것이다.
print(valid_score)

[8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]

In [209]:
scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]

In [211]:
_,*valid_scores,_=scores # 변수 명을 _ 라고 지정해준 것이다.
print(valid_scores)

[8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8]

In [212]:
temp={}

In [225]:
ice = {"메로나": 1000, "폴라포": 1200, "빵빠레": 1800}
print(ice)

{'메로나': 1000, '폴라포': 1200, '빵빠레': 1800}

In [226]:
# dictionary에서 추가하는 경우에는 key, value를 이용하기.
ice["죠스바"]=1200
ice["월드콘"]=1500

In [227]:
ice

{'메로나': 1000, '폴라포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [228]:
print("메로나 가격: %d"%(ice["메로나"]))

메로나 가격: 1000

In [229]:
ice["메로나"]=1300

In [230]:
ice

{'메로나': 1300, '폴라포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [231]:
del ice["메로나"]

In [232]:
ice

{'폴라포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [234]:
icecream = {'폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
icecream['누가바'] # dictionary에 없는 key를 불러왔기 때문이다.

KeyError: '누가바'

In [235]:
inventory = {"메로나": [300, 20],
              "비비빅": [400, 3],
              "죠스바": [250, 100]}

In [236]:
inventory

{'메로나': [300, 20], '비비빅': [400, 3], '죠스바': [250, 100]}

In [240]:
print(inventory["메로나"][0],"원")

300 원

In [242]:
print(inventory["메로나"][1], "개")

20 개

In [243]:
inventory

{'메로나': [300, 20], '비비빅': [400, 3], '죠스바': [250, 100]}

In [244]:
inventory["월드콘"]=[500, 7]

In [245]:
inventory

{'메로나': [300, 20], '비비빅': [400, 3], '죠스바': [250, 100], '월드콘': [500, 7]}

In [246]:
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}

In [248]:
list(icecream.keys())

['탱크보이', '폴라포', '빵빠레', '월드콘', '메로나']

In [249]:
list(icecream.values())

[1200, 1200, 1800, 1500, 1000]

In [250]:
sum(icecream.values())

6700

In [251]:
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
new_product = {'팥빙수':2700, '아맛나':1000}

In [255]:
icecream.update(new_product)
# update : dictionary + dictionary

In [256]:
icecream

{'탱크보이': 1200,
 '폴라포': 1200,
 '빵빠레': 1800,
 '월드콘': 1500,
 '메로나': 1000,
 '팥빙수': 2700,
 '아맛나': 1000}

In [257]:
keys = ("apple", "pear", "peach")
vals = (300, 250, 400)

In [258]:
dict(zip(keys, vals))

{'apple': 300, 'pear': 250, 'peach': 400}

In [259]:
# zip : 두 그룹의 데이터를 서로 엮어주는 파이썬 내장 함수이다.
for pair in zip(keys, vals):
    print(pair)

('apple', 300)
('pear', 250)
('peach', 400)

In [260]:
date = ['09/05', '09/06', '09/07', '09/08', '09/09']
close_price = [10500, 10300, 10100, 10800, 11000]

In [263]:
print(zip(data, close_price))

<zip object at 0x00000210BDF9EB80>

In [261]:
dict(zip(data, close_price))

{2: 10500, 4: 10300, 3: 10100, 1: 10800, 5: 11000}

In [265]:
# zip 대신에 index 이용해서 구해낼 수도 있긴 하다.
for idx in range(5):
    pair=(data[idx], close_price[idx])
    print(pair)

(2, 10500)
(4, 10300)
(3, 10100)
(1, 10800)
(5, 11000)

In [269]:
for number in "12345":
    print(number) # 한 글자씩 가져온다.

1
2
3
4
5

In [270]:
# [cf] unpacking
for number, upper, lower in zip("12345", "ABCDE", "abcde"):
    print(number, upper, lower) # 다른 데이터를 연결시켜주는 역할을 수행한다.

1 A a
2 B b
3 C c
4 D d
5 E e

# 7. 파이썬 분기문

In [1]:
user=input("입력 : ")

In [2]:
print(user*2)

안녕하세요안녕하세요

In [3]:
user=input("숫자를 입력하세요 : ")

In [4]:
print(int(user)+10)

40

In [5]:
num=int(input())

In [6]:
def isEven(num):
    if num%2==0:
        return True
    return False

print(isEven(num))

True

In [7]:
def isNum(x):
    if x>255:
        return 255
    else:
        return x+20

In [8]:
num1=int(input())

In [9]:
isNum(num1)

220

In [10]:
num2=int(input())

In [11]:
isNum(num2)

255

In [12]:
def isNumUpdate(x):
    if x>255:
        return 255
    elif x<0:
        return 0
    else:
        return x-20

In [13]:
num3=int(input())

In [14]:
isNumUpdate(num3)

0

In [15]:
num4=int(input())

In [16]:
isNumUpdate(num4)

255

In [31]:
환율 = {"달러": 1167, 
        "엔": 1.096, 
        "유로": 1268, 
        "위안": 171}
user = input("입력: ")

In [34]:
num, currency = user.split()
print(num, currency)

100 달러

In [35]:
print(float(num) * 환율[currency], "원")

116700.0 원

In [40]:
phoneNum=input("휴대폰 번호를 입력")

In [41]:
phoneNum

'011-345-1922'

In [42]:
num=phoneNum.split("-")[0]
print(num)

011

In [43]:
if num == "011":
    com = "SKT"
elif num == "016":
    com = "KT"
elif num == "019":
    com = "LGU"
else:
    com = "알수없음"
    
print(f"당산은 {com} 사용자 입니다.")

당산은 SKT 사용자 입니다.

# 8. 파이썬 반복문

In [46]:
for ii in range(0,4):
    # 0,1,2,3 대신에 밑 코드를 출력한다.
    print("-------")

-------
-------
-------
-------

In [47]:
for ii in ["김밥", "라면", "튀김"]:
    print(f"오늘의 메뉴 : {ii}")

오늘의 메뉴 : 김밥
오늘의 메뉴 : 라면
오늘의 메뉴 : 튀김

In [48]:
for ii in ["SK하이닉스", "삼성전자", "LG전자"]:
    print(len(ii))

6
4
4

In [50]:
for idx in ['dog', 'cat', 'parrot']:
    print(idx, len(idx))

dog 3
cat 3
parrot 6

In [51]:
for idx in ['dog', 'cat', 'parrot']:
    print(idx[0])

d
c
p

In [54]:
for ii in [1, 2, 3]:
    print(3, "x", ii, "=", 3*ii)

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9

In [59]:
newlist=["가", "나", "다", "라"][1:] # 새로운 리스트를 지정해준다.

for ii in newlist:
    print(ii)

나
다
라

In [61]:
newlist=["가", "나", "다", "라"][::2]
newlist

['가', '다']

In [62]:
for ii in newlist:
    print(ii)

가
다

In [63]:
newlist=["가", "나", "다", "라"][::-1]

In [64]:
for ii in newlist:
    print(ii)

라
다
나
가

In [65]:
for ii in [3, -20, -3, 44]:
    if ii<0:
        print(ii)

-20
-3

In [67]:
for ii in [3, 100, 23, 44]:
    if ii%3==0:
        print(ii)

3

In [68]:
for ii in [13, 21, 12, 14, 30, 18]:
    if (ii%3==0) and (ii<20):
        print(ii)

12
18

In [69]:
for ii in ["I", "study", "python", "language", "!"]:
    if len(ii)>=3:
        print(ii)

study
python
language

In [71]:
"A".isupper()

True

In [72]:
for ii in ["A", "b", "c", "D"]:
    if ii.isupper():
        print(ii)

A
D

In [73]:
for ii in ["A", "b", "c", "D"]:
    if ii.islower():
        print(ii)

b
c

In [81]:
for ii in ['dog', 'cat', 'parrot']:
    first=ii[0] # 첫번째 문자
    first=first.upper() # 대문자로 변경
    print(first+ii[1:]) # 대문자 변경 + 나머지 문자 합치기

Dog
Cat
Parrot

In [83]:
for ii in ['hello.py', 'ex01.py', 'intro.hwp']:
    ii=ii.split(".")
    print(ii[0])

hello
ex01
intro

In [85]:
for ii in ['intra.h', 'intra.c', 'define.h', 'run.py']:
    ii.split(".")
    if ii[-1]=="h":
        print(ii)

intra.h
define.h

In [86]:
for ii in ['intra.h', 'intra.c', 'define.h', 'run.py']:
    ii.split(".")
    if (ii[-1]=="h") or (ii[-1]=="c"):
        print(ii)

intra.h
intra.c
define.h

In [87]:
for ii in range(0,100):
    print(ii)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [89]:
for ii in range(2002, 2051):
    if ii%2==0:
        print(ii)

2002
2004
2006
2008
2010
2012
2014
2016
2018
2020
2022
2024
2026
2028
2030
2032
2034
2036
2038
2040
2042
2044
2046
2048
2050

In [90]:
for ii in range(2002, 2051, 2):
    print(ii)

2002
2004
2006
2008
2010
2012
2014
2016
2018
2020
2022
2024
2026
2028
2030
2032
2034
2036
2038
2040
2042
2044
2046
2048
2050

In [91]:
for ii in range(1,31):
    if ii%3==0:
        print(ii)

3
6
9
12
15
18
21
24
27
30

In [96]:
for i in range(100): # 99 ~ 0까지 출력하기. (99에서 값 빼는 방식 이용하기.)
    print(99 - i)

99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1
0

In [99]:
for ii in range(0, 10):
    print(ii/10) # 10으로 나눠서 소수점 만들어주기.

0.0
0.1
0.2
0.3
0.4
0.5
0.6
0.7
0.8
0.9

In [103]:
for i in range(1,10):
    print(3,"x",i,"=",3*i)

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27

In [104]:
for i in range(1,10):
    if i%2!=0:
        print(3,"x",i,"=",3*i)

3 x 1 = 3
3 x 3 = 9
3 x 5 = 15
3 x 7 = 21
3 x 9 = 27